body{
    font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color:white;
  margin: 10vh 1vw 5vh 1vw;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
p{
  color:#8f8f8f;
}
/* landing section */
#title {
  background-color: #ff4c68;
}
.navbar{
  padding: 2.5rem 0 4.5rem;
}
.navbar-brand{
  font-size: 2.5rem;
  font-family: 'Ubuntu';
  font-weight: bold;
}
.nav-link{
  font-family: 'Montserrat-light', sans-serif;
  font-size: 1.2rem;
  margin: auto 1.5vw auto 1.5vw;
}
.dogCol{
  z-index: 1;
}
.dogImg{
  width: 60%;
  transform: rotate(30deg);
}
.btn{
  margin: auto .5vw auto .5vw;
}

/* features section */
#features{
  background-color: white;
  z-index: 10;
}
.rowFeatures{
  padding: 150px 100px 150px 100px;
  z-index: 10;
  background-color: white;
}
.featureIcon{
  color:#ef8172;
  font-size: 3rem;
}
.featureIcon:hover{
  color:#ff4c68;
}
.col-lg-4{
  text-align: center;
}
/* testimonial section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color:white;
}
.testimonialImg{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
.carousel-item{
  padding: 7% 15%;
}
/* press section */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
  width:15%;
  margin: 20px 20px 50px;
}
/* pricing section */
#pricing{
  padding:100px;
  text-align: center;
}
.pricingCol{
  padding:3% 2%;
}
